#homeroll{

    background: radial-gradient(#ff00f2 5%, #ff0000 100%);
 height: 150pt;
}
header{
    text-align: center;
}

#fcn{
    margin-bottom: 0%;

}
.an{
    margin-top: 10px;
}
footer{
    background-color: black;
    color: white;
    margin-bottom: 0px;

}
h1{
    font-family: 'Urbanist', sans-serif;
}
.dfgh{
    font-family: 'Annie Use Your Telescope', cursive;   
font-size: xx-large;
}
.azep{
    background-color: burlywood;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .footernav1029 a{
      color: rgb(255, 255, 255);
  }
.areyssur{
    color: tomato;
}
#jto{
    float: right;
}